#table1 {background-color: green;}
#table2  {background-color: red;}
#heading1 {font-weight: bolder; color: turquoise;}
#heading2{font-weight: bolder; color: rgb(235, 5, 5);}
table,  th,  td {Border: 4px solid rgb(0, 0, 0);}  
table,  th,  td {Border: 4px solid rgb(42, 15, 196);}  